/* Main colors */

$bg-color: teal;
$bg-color-main-content: #FFFFFF;

/* Buttons */
$bg-color-button: #00cbcb;
$bg-color-button-disabled: $bg-color;
$text-color-button-disabled: #b6b6b6;

/* Error */
$color-error: #CB3D40;

/* Border */
$color-border: #D0CFCF;

$color-label: #7E7E7E;