@import "../../styles/_variables";

.input-wrapper {
    position: relative;

    .label-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;

        input,
        select {
            border: 1px solid $color-border;
            border-radius: 4px;
            font-size: inherit;
            line-height: inherit;
            padding: 13px 16px;
        }

        label {
            color: $color-label;
            left: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.25s;
        }

        input:focus + label,
        &._active label {
            background-color: $bg-color-main-content;
            font-size: 12px;
            line-height: 14px;
            padding-left: 4px;
            padding-right: 4px;
            top: 0;
        }
    }

    .message-error {
        color: $color-error;
        font-size: 12px;
        line-height: 14px;
        margin: 4px 16px 0;
        position: absolute;
        top: 100%;
    }

    &._error {
        input,
        select {
            border-color: $color-error;
            outline: 1px solid  $color-error;
        }

        .input-wrapper {
            input:focus + label,
            &._active label {
                color: $color-error;
            }
        }
    }
}

.input-wrapper + .input-wrapper {
    margin-top: 30px;
}
